.header-bg{
    width: 100%;
    background-color: #009688;
    height: 127px;
    z-index: -1;
}

.main-background{
    background: linear-gradient(to bottom, #D3DBDB 50%, #D3DBDB 75%, #D3DBDB 75%);
    width: 100%;
    height: 100vh;
}